/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
body {
   /* 3. Add accessible line-height */
    line-height: 1.5;
   /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}
/* End of CSS Reset */

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
a, button, .name, .announcement-title, .project-title,
.projects > p, .logo-title, .announcements-bar > p, .trending > p{
    font-weight: bold;
}
img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
svg{
    fill: #fff;
    width: 2rem;
    height: auto;
}
.header-top svg,
.content svg{
    fill: #000;
}
.project-desc,
.trending-card > .desc,
.announcement > .announcement-desc{
    color: #6f6f6f;
}

.header{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
}

.header-top{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}
.search-bar{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

input[type="search"]{
    width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: #e2e8f0;
}

.profile{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
.profile > img{
    width: 3rem;
    height: 3rem;
}
.profile > p{
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-bar{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 1rem 1rem #d4dae2 ;
    padding-bottom: 1rem;
}
.greeting > img{
    justify-self: center;
}
.greeting{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}
.greeting > p{
    font-weight: bold;
}
.greeting > .user-name{
    font-size: 1.5rem;
    font-weight: bold;
}
.greeting > img{
    grid-row: 1 / 3;
    width: 5rem;
    height: 5rem;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}
.buttons > button{
    width: 6rem;
    border-radius: 1rem;
    padding: 0.3rem;
    background-color: #1992d4;
    color: #fff;
    border: none;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 3fr 5fr;
    background-color: #1992d4;
}
.sidebar a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}
.sidebar svg{
    justify-self: center;
}
.logo-title{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.logo-title > p{
    color: #fff;
    font-size: 2rem;
}
.links{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 3rem;
    align-items: center;
}
.configs{
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 3rem;
}

.content{
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2rem 0 3rem 0;
    padding: 2rem;
    background-color: #e2e8f0;
    gap: 1rem;
}

.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    grid-template-rows: 2rem;
    grid-auto-rows: 1fr;
    gap: 2rem;
}
.projects > p{
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-weight: bold;
}
.project-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
    align-items: stretch;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #d4dae2;
    border-radius: 0.5rem;
    border-left: 0.5rem solid #ffa500;
}
.project-title{
    grid-column: 1 / -1;
}
.project-desc{
    grid-column: 1 / -1;
}
.project-card > div{
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}


.announcements-bar{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem;
    grid-auto-rows: 1fr;
}
.announcements-bar > p{
    font-size: 1.5rem;
    font-weight: bold;
}
.announcements{
    box-shadow: 0.5rem 0.5rem 0.5rem #d4dae2;
    border-radius: 1rem;
}
.announcement{
    margin: 1rem 1rem 2rem;
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    padding-top: 1ch;
}
.announcement:nth-child(1n+2){
    border-top: 1px solid #d2d2d2;
}

.trending{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem;
    grid-auto-rows: 1fr;
}
.trending > p{
    font-size: 1.5rem;
    font-weight: bold;}
.trending > div{
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0.5rem 0.5rem 0.5rem #d4dae2;
    border-radius: 1rem;
}
.trending-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}
.trending-card:not(:last-child){
    margin-bottom: 1rem;
}
.trending-card > img{
    grid-row: 1 / -1;
    width: 3rem;
    height: 3rem;
    justify-self: center;
}


/* Delete after -------------------------------------------------------------------------------------------------------------------------*/ 
/* 
body > *{
    border: 1px solid black;
}

body > * > *{
    border: 1px solid blue
}

body > * > * > *{
    border: 1px solid red
}

body > * > * > * > *{
    border: 1px solid green;
}

body > * > * > * > * > *{
    border: 1px solid violet;
} */