/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
body {
   /* 3. Add accessible line-height */
    line-height: 1.5;
   /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}
/* End of CSS Reset */

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
}

.header-top{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}
.search-bar{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

input[type="search"]{
    width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: #e2e8f0;
}

.profile{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.nav-bar{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 1rem 1rem #d4dae2 ;
}
.greeting{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}
.greeting > img{
    grid-row: 1 / 3;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}
.buttons > button{
    width: 6rem;
    border-radius: 1rem;
    padding: 0.3rem;
    background-color: #1992d4;
    color: #fff;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 3fr 5fr;
    gap: 3rem;
}
.logo-title{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.links{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 3rem;
    align-items: center;
}
.configs{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 3rem;
}
.logo{
    grid-row: 1 / 2;
}
.links{
    grid-row: 2 / 3;
}
.configs{
    grid-row: 3 / 4;
}

.content{
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}



.announcements{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.trending{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


/* Delete after -------------------------------------------------------------------------------------------------------------------------*/ 

body > *{
    border: 1px solid black;
}

body > * > *{
    border: 1px solid blue
}

body > * > * > *{
    border: 1px solid red
}

body > * > * > * > *{
    border: 1px solid green;
}